@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
  cursor: none;
  --text: #FFF;
  background: #001220;
  scroll-behavior: smooth;
}

.animated-title { 
  color: white;
  font-size: 48px;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  animation: textGlitch 3s ease-in-out infinite alternate;
}

.animated-title span {
  display: inline-block;
  min-width: 1rem;
}

.animated-title .animate span {
  opacity: 0;
  transform: translateY(2px);
  animation: displayLetter .5s ease-in-out .5s forwards alternate;
  letter-spacing: 1px;
}

.animated-title .animate span:nth-child(3n+1) {
  animation-delay: 0.1s;
}

.animated-word {
  opacity: 0;
}

@keyframes displayLetter {
	0% {
    transform: translateY(2px);
    color: white;
    opacity: 0;
	}
  10% {
    opacity: 1;
    color: limegreen;
  }
  20% {
    opacity: 0;
    color: white;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    color: darkgreen;
    transform: translateY(1px);
  }
  60% {
    opacity: 1;
    color: white;
    transform: translateY(1px);
  }
	100% {
    transform: translateY(0);
    color: white;
    opacity: 1;
	}
}

@keyframes textGlitch {
  0% {
    opacity: 1;
  }
  94% {
    opacity: 1;
    transform: translateX(0px);
  }
	95% {
    opacity: 0.1;
  }
  96% {
    opacity: 1;
    transform: translateX(1px);
  }
  97% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: black;
  padding: 10px 0; /* Espacement autour du menu */
  position: fixed; /* Positionnement fixe */
  top: 0; /* Alignement en haut de la page */
  width: 100%; /* Largeur totale */
  font-family: 'Share Tech Mono', monospace; /* Utilisation de la même police que pour le <p> */
  z-index: 9999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Alignement du texte au centre */
}

nav ul li {
  display: inline; /* Afficher les éléments de menu en ligne */
}

nav ul li a {
  color: white; /* Couleur du texte */
  text-decoration: none; /* Supprimer la soulignement des liens */
  padding: 10px 20px; /* Espacement intérieur des éléments de menu */
}

.cursor {
  display: none; /* Masquer le curseur sur les appareils mobiles */
}

/* Media Query pour les appareils mobiles */
@media only screen and (max-width: 600px) {
  .animated-title { 
    font-size: 24px; /* Réduire la taille du titre sur les appareils mobiles */
  }

  nav ul {
    display: none; /* Masquer le menu par défaut sur les petits écrans */
  }

  .menu-toggle {
    display: block; /* Afficher le bouton de menu sur les petits écrans */
    position: fixed; /* Positionnement fixe */
    top: 10px; /* Espacement depuis le haut */
    right: 10px; /* Espacement depuis la droite */
    z-index: 9999; /* Assurer que le bouton est au-dessus de tout le reste */
    color: white; /* Couleur du texte */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Curseur pointeur */
  }

  .menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
  }

  nav ul.open {
    display: block; /* Afficher le menu lorsque la classe "open" est ajoutée */
  }

  nav ul li {
    display: block; /* Afficher les éléments de menu en bloc */
  }

  nav ul li a {
    display: block; /* Afficher les liens en bloc */
    padding: 10px 0; /* Espacement intérieur des liens */
  }
}
